.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 9999;

  -webkit-box-shadow: 0px 0px 2px 2px rgba(99,99,99,0.5);
  -moz-box-shadow: 0px 0px 2px 2px rgba(99,99,99,0.5);
  box-shadow: 0px 0px 2px 2px rgba(99,99,99,0.5);
}

.nav_logo {
  margin: 0 auto;
  width: 20%;
  min-width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: 70px; 
}

.nav_logo img {
  display: inline;
  height: 50px;
  width: auto;
}

.nav_links {
  margin: 0 auto;
  width: 60%;
  height: 80%;
  line-height: 25px;
  flex-direction: row;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center!important;
}

.nav_link, #nav_but {
  margin: 0 auto;
  text-decoration: none;
  font-size: 15px;
  border: solid;
  border-color: blue;
}

.nav_flag {
  width: 20%;
  min-width: 50px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
