body {
    margin: 0 auto;
    background: #F8F9FA;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}

.font_museo_moderno {
    font-family: 'MuseoModerno', cursive;
}

.font_ibm {
    font-family: 'IBM Plex Mono', monospace;
}

/** Util CSS **/
.in_row {
    display: flex;
    flex-direction: row;
}

.in_column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.space {
    margin-top: 3em!important;
}

/** Landing Page **/
.lp_logo {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 8%;
    display: inline-block;
}

.main-carousel {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.carousel-cell {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/** Description ACM **/
#description_acm {
    margin: 0 auto;
    margin-top: 3em;
    width: 90%;
    height: 100%;
}

.desc_logo{
    width: 80%;
    height: auto;
}

.desc_text {
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
}

.title {
    font-size: 2em;
    font-weight: bold;
}


.prov_lp {
    height: 100vh;
    width: 100%;

    background: rgba(0,108,158,0.69);
    background: -moz-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,108,158,0.69)), color-stop(64%, rgba(218,16,241,0.76)), color-stop(75%, rgba(255,0,255,0.83)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006c9e', endColorstr='#000000', GradientType=0 );
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 99%, 0 95%)!important;
}

/** Directive group **/
.masters-acm {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.card_body {
    position: relative;
    margin: 0px;
    border-radius: 3px;
    margin-bottom: 25px;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.3);
    -moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.3);
    box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.3);
}

.card_body:hover {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
    -moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
    box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5)
}

.card_photo {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: auto;
    background-color: rgba(0,0,0,0);
}

.card_photo img {
    position: relative;
    border-radius: 50%;
    width: 110px;
    height: auto;
    margin-top: 15px!important;
    margin: auto;
    z-index: 56;
}

.card_photo img:hover {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(161,16,154,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(161,16,154,1);
    box-shadow: 0px 0px 4px 1px rgba(161,16,154,1);
}

.card_photo::before {
    content: ' ';
    position: absolute;
    background-color: rgba(0,0,0,0);
    margin-top: 15px!important;
    width: 110px;
    height: 106px;
    z-index: 60;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 0.8s;
}

.card_photo:hover::before {
    background-color: rgba(0,0,0,0.5);
    transition-duration: 0.8s;
}

.card_photo::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 107px;
    margin-top: 15px!important;
    background:url("../img/icons/linkedin.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin: 0 auto;
    z-index: 600;
    top: 30px;
    left: 30px;
    opacity: 0;
}

.card_photo:hover::after { 
    opacity: 100;
    transition-duration: 1.5s;
    cursor: pointer;
}

.card_text {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

/** Footer **/
.footer {
    color: black;
    font-size: 0.8em;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
    -moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
    box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
}

.footer_logo {
    height: 45px;
    width: 45px;
    margin: 0 auto;
}


@media only screen and (max-width: 768px) { }

@media only screen and (max-width: 500px) {
    .card_body {
        flex-direction: column;
        height: 200px;
        width: 100%;
    }
}



/** ================ NEWS ================**/
.new_3 {
    clip-path: polygon(50% 0%, 100% 38%, 89% 88%, 35% 100%, 0 57%);
    width: 70%;
    height: auto;
    top: 5em;
}

.new_3_1 {
    background: rgba(0,0,0,0.65);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.45)), color-stop(34%, rgba(0,0,0,0.53)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}









/* Preloader */
#preloader {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: turn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    display: none;
  }
@keyframes turn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}