body {
    margin: 0 auto;
    background: #F8F9FA;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}

.font_museo_moderno {
    font-family: 'MuseoModerno', cursive;
}

.font_ibm {
    font-family: 'IBM Plex Mono', monospace;
}

/** Util CSS **/
.in_row {
    display: flex;
    flex-direction: row;
}

.in_column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.space {
    margin-top: 3em!important;
}

/** Landing Page **/
.lp_logo {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 8%;
    display: inline-block;
}

.main-carousel {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.carousel-cell {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/** Description ACM **/
#description_acm {
    margin: 0 auto;
    margin-top: 3em;
    width: 90%;
    height: 100%;
}

.desc_logo{
    width: 80%;
    height: auto;
}

.desc_text {
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
}

.title {
    font-size: 2em;
    font-weight: bold;
}


.prov_lp {
    height: 100vh;
    width: 100%;

    background: rgba(0,108,158,0.69);
    background: -moz-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,108,158,0.69)), color-stop(64%, rgba(218,16,241,0.76)), color-stop(75%, rgba(255,0,255,0.83)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,108,158,0.69) 0%, rgba(218,16,241,0.76) 64%, rgba(255,0,255,0.83) 75%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006c9e', endColorstr='#000000', GradientType=0 );
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
}

/** Directive group **/
.masters-acm {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}


.card_body {
    border-radius: 3px;
    width: 80%;
    height: 150px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.3);
    -moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.3);
    box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.3);
}

.card_photo {
    margin: 0 auto;
    height: 100%;
    width: auto;
    background-color: rgba(0,0,0,0);
}

.card_photo img {
    border-radius: 50%;
    height: 80%;
    width: auto;
    margin-left: 15px!important;
    margin: auto;
}

.card_text {
    width: 90%;
    height: 100%;
    line-height: 100%;
}

/** Footer **/
.footer {
    color: black;
    font-size: 0.8em;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
    -moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
    box-shadow: 0px 0px 2px 1px rgba(99,99,99,0.5);
}

.footer_logo {
    height: 45px;
    width: 45px;
    margin: 0 auto;
}





/** ================ NEWS **/
.new_3 {
    clip-path: polygon(50% 0%, 100% 38%, 89% 88%, 35% 100%, 0 57%);
    width: 70%;
    height: auto;
    top: 5em;
}

.new_3_1 {
    background: rgba(0,0,0,0.65);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.45)), color-stop(34%, rgba(0,0,0,0.53)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 34%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}









/* Preloader */
#preloader {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: turn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    display: none;
  }
@keyframes turn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}